<div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 nav-background">
                <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
                    <div class="container-fluid custom-wrapper">
                        <div class="collapse navbar-collapse"
                            id="navcol-1">
                            <ul class="nav flex-column ormoc-nav">
                                <li class="nav-item">
                                <a class="nav-link active" routerLink="/">HOME</a>
                              </li>
                                <li class="nav-item">
                                  <a class="nav-link active" routerLink="/category-management">CATEGORY MANAGEMENT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active">ITEM MANAGEMENT</a>                                     
                                          <ul class="sub-item ormoc-subnav">
                                              <li>
                                                  <a class="nav-link active" routerLink="/item-request-form">ITEM REQUEST FORM</a>
                                              <li>
                                                  <a class="nav-link active" routerLink="/supplier-quotation">SUPPLIER QUOTATION</a>
                                          </ul>                               
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" routerLink="/po-management">P.O. MANAGEMENT</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" routerLink="/suppliers-management">SUPPLIERS MANAGEMENT</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" routerLink="/item-search">ITEM SEARCH</a>
                                </li>        
                            </ul>
                        </div>
                    </div>
                </nav>        
            </div>
          </div>
