<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 head">
      <p4>Home > Item Mangement > Item Request Form</p4>
    </div>
  </div>
  <!-- <-----Forms----- -->
 
  <div class="row">
    <div class="col-sm-6">
      <div class="container-fluid">
        <div class="row filters">
          <div class="col-sm-12">
            <h7>Filters</h7>
            <div class="table-responsive-sm">          
                <table class="table table-bordered">
                  <thead class="thead">
                    <tr>
                      <th scope="col">Item Request ID</th>
                      <th scope="col">Title</th>
                      <th scope="col">Status</th>
                      <th scope="col">Date Created</th>                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Rainier</td>
                      <td>Mr.</td>
                      <td></td>
                      <td></td>                      
                    </tr>
                  </tbody>
                </table>
                </div>
          </div>
        </div>
        <div class="row not-fulfilled">
            <div class="col-sm-12">
                <h7>Item Request Not Fulfilled</h7>
                <div class="table-responsive-sm">          
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Item Request ID</th>
                          <th scope="col">Title</th>
                          <th scope="col">Date Created</th>                                               
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Rainier</td>
                          <td></td>
                          <td></td>                                                
                        </tr>
                      </tbody>
                    </table>
                    </div>
            </div>
          </div>
      </div>
    </div>
 <!-- <-----2ndForms----- -->
    <div class="col-sm-6">
        <div class="container-fluid">
          <div class="row ir">
            <div class="col-sm-12">
                <h7>IR1000001</h7>
            </div>          
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <h7>Items</h7>                                
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">                
                  <h7>Quotations</h7>                
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">                
                  <h7>Price Scoresheet</h7>
              </div>
          </div>
        </div>
      </div>
  </div>
      
    
</div>