.element-1{
    border-style: solid;
    height: 200px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-color: #c2c2c2;
    border-width: 2px;
    background-color: #ffffff
}

.path{
    color:  #283593;
    padding-left: 15px;
    padding-top: 1%;
    font-size: 12px;
}

.headline{
    color:  #283593;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 24px;
}

.header{
    color:  #283593;
    margin-left: 20px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
}

hr{
    border-color:  #283593;
}

.background{
    background-color: #ececec;
    padding-left: 15px;
    padding-right: 15px;
}

.details{
    margin-right: 15px;
    height: 300px;
    font-style: italic;
    font-size: auto;
    color:  #283593;
    font-size: 12px;
}

.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;  
    background: #283593;
    border-color: #283593;
    border-radius: 2px;
}

.auto-height{
    height: auto;
}

.list{
    padding: 2px 5px 2px 10px;
    margin-left: 10px;
    margin-top: 7px;
    margin-right: 10px;
    border-style: solid;
    border-color: #7c7c7c;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:  #283593;
    background-color: #ececec;
}

.font-14{
    padding-left: 5px;
    font-weight: normal;
    font-size: 12px;
}

.zero-margin{
    margin: 0px;
}

.zero-padding{
    padding: 0px;
}

img{
    margin-left: 25px;
    margin-right: auto;
    width: auto;
}