.element-1{
    border-style: solid;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: #c2c2c2;
    border-width: 2px;
    background-color: #ffffff
}

.path{
    color:  #283593;
    padding-left: 15px;
    padding-top: 1%;
    font-size: 12px;
}

.headline{
    color:  #283593;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 24px;
}

hr{
    border-color:  #283593;
}

.background{
    background-color: #ececec;
    padding-left: 15px;
    padding-right: 15px;
}

.details{
    font-style: italic;
    font-size: auto;
    color:  #283593;
    font-size: 12px;
}

.btn{
    margin-top: 20px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;  
    background: #283593;
    border-color: #283593;
    border-radius: 2px;
}