<p class="path">
  Home > <b>Category Management</b>
</p>
<div class="container-fluid background">
  <div class="row">
    <div class="col-sm-9">
      <div class="element-1">
        <h2 class="headline">Main Categories</h2><hr>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="element-1">
          <p>Select an item to see complete details</p>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-9">
          <div class="element-1">
            <h2 class="headline">Sub-Categories</h2><hr>
          </div>
      </div>
    </div>
</div>