<div class="container-fluid">
  <div class="row date">
    <div class="col-sm-12"></div>   
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="element-1">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 stock-levels">
              <h4>RED LEVELS</h4>
            </div>
            <div class="col-sm-6 stock-levels">
                <h4>EMBER LEVELS</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 stock-levels1">
              <p>ITEMS WITH LOW STOCK LEVEL</p>
            </div>
            <div class="col-sm-4 stock-levels1">
                <button type="button" class="btn btn-primary btn-sm">View All Items</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="element-1">
            <div class="container">
                <div class="row">
                  <div class="col-sm-6 aging-stocks">
                      <h4>Oldest Stock Inventory</h4>
                  </div>
                  <div class="col-sm-6 aging-stocks"></div>
                </div>
                <div class="row">
                  <div class="col-sm-8 aging-stocks1">
                      <p>AGING STOCKS</p>
                  </div>
                  <div class="col-sm-4 aging-stocks1">
                      <button type="button" class="btn btn-primary btn-sm">Review Stocks</button>
                  </div>
                </div>
              </div>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
          <div class="element-1">
              <div class="container">
                  <div class="row">
                    <div class="col-sm-4 po">
                        <h4>Created</h4>
                    </div>
                    <div class="col-sm-4 po">
                        <h4>For Follow-up</h4>
                    </div>
                    <div class="col-sm-4 po">
                        <h4>Completed</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 po1">
                        <p>PURCHASE ORDERS</p>
                    </div>
                    <div class="col-sm-4 po1">
                        <button type="button" class="btn btn-primary btn-sm">Purchase Orders</button>
                    </div>
                  </div>
                </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="element-1">
              <div class="container">
                  <div class="row">
                    <div class="col-sm-4 items-transit">
                        <h4>In Transit</h4>
                    </div>
                    <div class="col-sm-4 items-transit">
                        <h4>Delayed</h4>
                    </div>
                    <div class="col-sm-4 items-transit">
                        <h4>To Warehuose</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 items-transit1">
                        <p>ITEMS IN TRANSIT</p>
                    </div>
                    <div class="col-sm-4 items-transit1">
                        <button type="button" class="btn btn-primary btn-sm">Items In Transit</button>
                    </div>
                  </div>
                </div>
          </div>
      </div>
    </div>
</div>
